{% load static%}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="ThemeStarz">
    <title>MyHouse - Advanced Real Estate HTML Template by ThemeStarz</title>
    <!--CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome/css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.0/mapsjs-ui.css?dp-version=1533195059" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!--SCRIPT -->
    <script>
    function switch_language(){
        document.getElementById("input_language").click()
    }
    </script>
</head>