{% load static%}
<section class="hero">
      <div id="flickity-hero" class="carousel-main flickity-enabled" tabindex="0">
        <div class="flickity-viewport" style="height: 419.25px; touch-action: pan-y;"><div class="flickity-slider" style="left: 0px; transform: translateX(0%);"><div class="carousel-cell hero__slide is-selected" aria-selected="true" style="position: absolute; left: 0%;">
          <article class="hero__slide-entry entry">
            <div class="hero__slide-thumb-bg-holder" style="background-image: url(img/blog/hero_slider/featured_img_1.jpg)">
              <div class="bottom-gradient"></div>
            </div>

            <div class="hero__slide-thumb-text-holder">
              <div class="container">
                <a href="categories.html" class="entry__meta-category entry__meta-category--label">Startups</a>
                <h2 class="entry__title--lg entry__title--white">
                  <a href="single-post.html">Technology's impact on marketing</a>
                </h2>
              </div>
            </div>
          </article>
        </div><div class="carousel-cell hero__slide" aria-selected="false" style="position: absolute; left: 100%;">
          <article class="hero__slide-entry entry">
            <div class="hero__slide-thumb-bg-holder" style="background-image: url(img/blog/hero_slider/featured_img_2.jpg)">
              <div class="bottom-gradient"></div>
            </div>

            <div class="hero__slide-thumb-text-holder">
              <div class="container">
                <a href="categories.html" class="entry__meta-category entry__meta-category--label">Startups</a>
                <h2 class="entry__title--lg entry__title--white">
                  <a href="single-post.html">the Age of Artificial Intelligence</a>
                </h2>
              </div>
            </div>
          </article>
        </div><div class="carousel-cell hero__slide" aria-selected="false" style="position: absolute; left: 200%;">
          <article class="hero__slide-entry entry">
            <div class="hero__slide-thumb-bg-holder" style="background-image: url(img/blog/hero_slider/featured_img_3.jpg)">
              <div class="bottom-gradient"></div>
            </div>

            <div class="hero__slide-thumb-text-holder">
              <div class="container">
                <a href="categories.html" class="entry__meta-category entry__meta-category--label">Startups</a>
                <h2 class="entry__title--lg entry__title--white">
                  <a href="single-post.html">The Most Powerful Thing You Can Do Is Be Yourself</a>
                </h2>
              </div>
            </div>
          </article>
        </div><div class="carousel-cell hero__slide" aria-selected="false" style="position: absolute; left: 300%;">
          <article class="hero__slide-entry entry">
            <div class="hero__slide-thumb-bg-holder" style="background-image: url(img/blog/hero_slider/featured_img_4.jpg)">
              <div class="bottom-gradient"></div>
            </div>

            <div class="hero__slide-thumb-text-holder">
              <div class="container">
                <a href="categories.html" class="entry__meta-category entry__meta-category--label">Startups</a>
                <h2 class="entry__title--lg entry__title--white">
                  <a href="single-post.html">The Most Powerful Thing You Can Do Is Be Yourself</a>
                </h2>
              </div>
            </div>
          </article>
        </div></div></div></div> <!-- end flickity -->

      <!-- Slider thumbs -->
      <div class="carousel-thumbs-holder">
        <div class="container">
          <div id="flickity-thumbs" class="carousel-thumbs flickity-enabled is-draggable" tabindex="0">




          <div class="flickity-viewport" style="height: 121px; touch-action: pan-y;"><div class="flickity-slider" style="left: 0px; transform: translateX(0%);"><div class="carousel-cell is-nav-selected is-selected" aria-selected="true" style="position: absolute; left: 0%;">
              <div class="carousel-thumbs__item">
                <div class="carousel-thumbs__img-holder">
                  <img src="img/blog/hero_slider/slider_thumb_1.jpg" alt="">
                </div>
                <h2 class="carousel-thumbs__title">
                  The Most Powerful Thing You Can Do Is Be Yourself
                </h2>
              </div>
            </div><div class="carousel-cell" aria-selected="false" style="position: absolute; left: 25%;">
              <div class="carousel-thumbs__item">
                <div class="carousel-thumbs__img-holder">
                  <img src="img/blog/hero_slider/slider_thumb_2.jpg" alt="">
                </div>
                <h2 class="carousel-thumbs__title">
                  The Most Powerful Thing You Can Do Is Be Yourself
                </h2>
              </div>
            </div><div class="carousel-cell" aria-selected="false" style="position: absolute; left: 50%;">
              <div class="carousel-thumbs__item">
                <div class="carousel-thumbs__img-holder">
                  <img src="img/blog/hero_slider/slider_thumb_3.jpg" alt="">
                </div>
                <h2 class="carousel-thumbs__title">
                  The Most Powerful Thing You Can Do Is Be Yourself
                </h2>
              </div>
            </div><div class="carousel-cell" aria-selected="false" style="position: absolute; left: 75%;">
              <div class="carousel-thumbs__item">
                <div class="carousel-thumbs__img-holder">
                  <img src="img/blog/hero_slider/slider_thumb_4.jpg" alt="">
                </div>
                <h2 class="carousel-thumbs__title">
                  The Most Powerful Thing You Can Do Is Be Yourself
                </h2>
              </div>
            </div></div></div></div>
        </div>
      </div>
    </section>