{% load static%}
{% load i18n %}
<!doctype html>
<html lang="en">
{% include 'base/header/head.html' %}

<body>

<!-- WRAPPER
=====================================================================================================================-->
<div class="ts-page-wrapper ts-homepage" id="page-top">
    <!--*********************************************************************************************************-->
    <header id="ts-header" class="fixed-top">
        <!-- SECONDARY NAVIGATION
        =============================================================================================================-->
        <nav id="ts-secondary-navigation" class="navbar p-0">
            <div class="container justify-content-end justify-content-sm-between">
                <!--left Side-->
                    {% include 'base/header/top-left.html' %}
                <!--Right Side-->
                    {% include 'base/header/top-right.html' %}

                <!--end navbar-nav-->
            </div>
            <!--end container-->
        </nav>

        <!--PRIMARY NAVIGATION
        =============================================================================================================-->

                    <!--LEFT NAVIGATION MAIN LEVEL
                    =================================================================================================-->
                    {% include 'base/header/left-menu.html' %}
                    <!--RIGHT NAVIGATION MAIN LEVEL
                    =================================================================================================-->
                    {% include 'base/header/right-menu.html' %}

        </nav>
    </header>

    <!--end Header-->
<!--=================== block body ====================-->

    {% block body %}

    {% endblock %}
<!--==================== Footer =======================-->
{% block Footer %}
<footer id="ts-footer">
        <section id="ts-footer-main">
            <div class="container">
                <div class="row">
                        <!--widget-1-->
                    {% include 'base/footer/widget-1.html' %}
                        <!--widget-2-->
                    {% include 'base/footer/widget-2.html' %}
                        <!--widget-3-->
                    {% include 'base/footer/widget-3.html' %}
                </div>
            </div>
        </section>
                <!--copyright-->
        {% include 'base/footer/copyright.html' %}
    </footer>

{% endblock %}
{% include 'base/footer/footer-script.html' %}


    </body>
</html>