{% load static%}

<script src="{% static 'js/jquery-3.3.1.min.js' %} "></script>
<script src="{% static 'js/popper.min.js' %} "></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %} "></script>
<script src="{% static 'js/jquery.magnific-popup.min.js' %} "></script>
<script src="{% static 'js/owl.carousel.min.js' %} "></script>
<script src="http://js.api.here.com/v3/3.0/mapsjs-core.js' %} "></script>
<script src="http://js.api.here.com/v3/3.0/mapsjs-service.js' %} "></script>
<script src="http://js.api.here.com/v3/3.0/mapsjs-ui.js' %} "></script>
<script src="http://js.api.here.com/v3/3.0/mapsjs-mapevents.js' %} "></script>
<script src="http://js.api.here.com/v3/3.0/mapsjs-clustering.js' %} "></script>
<script src="{% static 'js/custom.js' %} "></script>
<script src="{% static 'js/map-here.js' %} "></script>